*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:lightblue;
}

.outside{
    width: 40vw;
    border-radius: 10px;
    padding: 10px;
}
.inside{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    padding: 2rem;
    margin-block: 5px;
    background-color: rgb(243, 239, 178);
}

.btn{
    color:blue;
    cursor: pointer;
}

.title{
    margin-block: 10px;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 3rem;
}