*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.parent{
    display: flex;
    width: fit-content;
    align-items: center;
    margin: auto;
    margin-top:50px;
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 8px;
}

.parent button{
    padding:0.8rem;
    height: fit-content;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    
}

.parent h2{
    margin: 5px;
    padding: 20px;
    font-weight: bold;
}