*{
    box-sizing: border-box;
    margin: 0;
}

div{
    background-color: orange;
    color: purple;
    padding: 5px 30%;
    margin: 5px auto;
    width: fit-content;
    border-radius: 8% solid red;
    display: none;
}
p{
    text-align: center;
}
