*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#display{
    width: 30vw;
    min-height: 200px;
    background-color: lightblue;
    color: black;
    border: 2px solid blue;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    margin: auto;
    margin-top: 50px;
    text-align:start;
    padding: 5px;
}
