*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.list{
    width: 50%;


    
}
.list li{
    list-style: none;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list ul{
    width: 50%;
}

.list h2{
    width: fit-content;
    margin: auto;
    margin-block: 20px;
}

.list .box{
    display: flex;
    align-items: center;
    justify-content: center;
}